<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Request</title>
    <link rel="icon" href="images/Smiley.png"> <!-- change icon -->
    <script src="js/vacation.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div id="container">
    <header>
        <h1>Thank you for your request!</h1>
    </header>
    <footer>
        <p>GitHub Repository: https://github.com/Jake-G123/SDEV-305-Midterm-Exam</p>
    </footer>
    </div>
</body>
</html>