<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Booking</title>
    <link rel="icon" href="images/Smiley.png">
    <script src="js/vacation.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div id="container">
    <header>
        <h1>Book Your Dream Vacation</h1>
    </header>
    <main>
        <form id="vacation-form" action="submit-form" method="post">
            <fieldset class="destination">
                <legend>Destination</legend>
                <select id="destination" name="destination">
                    <option value="none">Choose a destination...</option>
                    <option value="Bali-indonesia">Bali, Indonesia</option>
                    <option value="paris-france">Paris, France</option>
                    <option value="tokyo-japan">Tokyo, Japan</option>
                    <option value="maldives">Maldives</option>
                    <option value="new-york-usa">New York City, USA</option>
                </select>
                <div class="error-container">
                    <span id="err-destination" class="error">Please select a destination</span>
                </div>
            </fieldset>
            <fieldset class="departure-date">
                <legend>Departure Date</legend>
                <input type="date" id="departure-date">
                <div class="error-container">
                    <span id="err-date-input" class="error">Please enter departure date</span>
                </div>
             </fieldset>
             <fieldset class="num-of-travelers">
                <legend>Number of Travelers</legend>
                <input type="number" id="num-of-travelers" value="0">
                <div class="error-container">
                    <span id="err-num-of-travelers" class="error">Please enter number of travelers</span>
                </div>
             </fieldset>

             <div class="submit-button">
                <button type="submit" id="submit">Find My Vacation</button>
             </div>
        </form>
    </main>
    <footer>
        <p>GitHub Repository: https://github.com/Jake-G123/SDEV-305-Midterm-Exam</p>
    </footer>
    </div>
</body>
</html>