html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height:100%;
    margin:0;
}
h1 {
    font-size: 2.5rem;
}
body, button {
    background: 
        linear-gradient(
            90deg,
            blue,
            darkblue
    );
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    width: 600px;
    border-radius: 10px;
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
    ),
    url("../images/beach-view.jpg");
    background-size: cover;
    background-position: center center;
    height: 175px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
form {
    display: grid;
    margin: 25px;
    margin-bottom: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "destination           destination"
    "departure-date   num-of-travelers"
    "submit-button       submit-button";
}
input, select {
    border-style: none;
    width: 100%;
}
fieldset {
    border-style: none;
}
.destination {
    grid-area: destination;
}
.departure-date {
    grid-area: departure-date;
}
.num-of-travelers {
    grid-area: num-of-travelers
}
.submit-button {
    grid-area: submit-button;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
}
button {
    color: white;
    border: none;
    padding: .75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 20px;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.error-container {
    min-height: 20px;
    position:absolute;
}
.error {
    color: red;
    display: none;

}
@media (max-width: 600px) {
    html {
        min-width: 250px;
    }
    form {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "destination"
    "departure-date"
    "num-of-travelers"
    "submit-button";
}
}